/*
公用样式
*/

.header {
    display: flex;
    align-items: center;
    padding: 16px 0;
    h1 {
        flex: 1;
        color: @black;
        font-size: 28px;
        font-weight: bold;
    }
}

.content-view {
    width: 100%;
    padding:4px 15px 100px;
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

/*往左滑*/

.slideToRight-enter,
.slideToLeft-leave-active {
    /* opacity: 0; */
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

/*往右滑*/

.slideToRight-leave-active,
.slideToLeft-enter {
    /* opacity: 0; */
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

// 底部栏

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 49px;
    background: #fff;
    a {
        flex: 1;
    }
    .playingImg {
        display: block;
        width: 68px;
        height: 68px;
        margin: 0 auto;
        border-radius: 50%;
        border: 2px solid #fff;
        background-size: 100% 100%;
        margin-top: -34px;
        &.None{
            background: url(../../assets/wave.svg);
        }
    }
    .explore,
    .chart {
        display: flex;
        align-items: center;
        flex-direction: column;
        div {
            width: 20px;
            height: 20px;
            margin: 8px 0;
        }
        &.isActive {
            color: #ff4545;
        }
    }
    .explore {
        div {
            background-image: url(../../assets/explore.svg);
            background-repeat:no-repeat; 
            background-position: center;
        }
        &.isActive {
            div {
                background-image: url(../../assets/exploreActive.svg);
            }
        }
    }
    .chart {
        div {
            background-image: url(../../assets/chart.svg);
            background-repeat:no-repeat; 
            background-position: center;
        }
        &.isActive {
            div {
                background-image: url(../../assets/chartActive.svg);
            }
        }
    }
}